In [16]:
import pandas as pd
from nba_api.stats.static import teams
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))

df = pd.DataFrame.from_dict(nba_teams)
df

Number of teams fetched: 30

,abbreviation,city,full_name,id,nickname,state,year_founded
0,ATL,Atlanta,Atlanta Hawks,1610612737,Hawks,Atlanta,1949
1,BOS,Boston,Boston Celtics,1610612738,Celtics,Massachusetts,1946
2,CLE,Cleveland,Cleveland Cavaliers,1610612739,Cavaliers,Ohio,1970
3,NOP,New Orleans,New Orleans Pelicans,1610612740,Pelicans,Louisiana,2002
4,CHI,Chicago,Chicago Bulls,1610612741,Bulls,Illinois,1966
5,DAL,Dallas,Dallas Mavericks,1610612742,Mavericks,Texas,1980
6,DEN,Denver,Denver Nuggets,1610612743,Nuggets,Colorado,1976
7,GSW,Golden State,Golden State Warriors,1610612744,Warriors,California,1946
8,HOU,Houston,Houston Rockets,1610612745,Rockets,Texas,1967
9,LAC,Los Angeles,Los Angeles Clippers,1610612746,Clippers,California,1970
10,LAL,Los Angeles,Los Angeles Lakers,1610612747,Lakers,California,1948
11,MIA,Miami,Miami Heat,1610612748,Heat,Florida,1988
12,MIL,Milwaukee,Milwaukee Bucks,1610612749,Bucks,Wisconsin,1968
13,MIN,Minnesota,Minnesota Timberwolves,1610612750,Timberwolves,Minnesota,1989
14,BKN,Brooklyn,Brooklyn Nets,1610612751,Nets,New York,1976
15,NYK,New York,New York Knicks,1610612752,Knicks,New York,1946
16,ORL,Orlando,Orlando Magic,1610612753,Magic,Florida,1989
17,IND,Indiana,Indiana Pacers,1610612754,Pacers,Indiana,1976
18,PHI,Philadelphia,Philadelphia 76ers,1610612755,76ers,Pennsylvania,1949
19,PHX,Phoenix,Phoenix Suns,1610612756,Suns,Arizona,1968
20,POR,Portland,Portland Trail Blazers,1610612757,Trail Blazers,Oregon,1970
21,SAC,Sacramento,Sacramento Kings,1610612758,Kings,California,1948
22,SAS,San Antonio,San Antonio Spurs,1610612759,Spurs,Texas,1976
23,OKC,Oklahoma City,Oklahoma City Thunder,1610612760,Thunder,Oklahoma,1967
24,TOR,Toronto,Toronto Raptors,1610612761,Raptors,Ontario,1995
25,UTA,Utah,Utah Jazz,1610612762,Jazz,Utah,1974
26,MEM,Memphis,Memphis Grizzlies,1610612763,Grizzlies,Tennessee,1995
27,WAS,Washington,Washington Wizards,1610612764,Wizards,District of Columbia,1961
28,DET,Detroit,Detroit Pistons,1610612765,Pistons,Michigan,1948
29,CHA,Charlotte,Charlotte Hornets,1610612766,Hornets,North Carolina,1988

## Pseudo code

1. Get team IDs for Raptors and Golden State
2. Get all the players on Raptors
    * Might have to get only the Raptors that played in playoffs against GS
3. For each player, get their passes received and passes made
4. Create dataframe with all passes

## Step 1: Get team IDs for Toronto Raptors and Golden State Warriors

In [20]:
team_ids = teams.find_teams_by_full_name('^(Golden State|Toronto)')
team_ids

[{'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995}]

## Step 2: Get all the players on the Raptors

In [ ]:
# use the CommonTeamRoster endpoint

In [17]:
# https://github.com/swar/nba_api/blob/master/docs/nba_api/stats/endpoints/playerdashptpass.md
from nba_api.stats.endpoints import playerdashptpass

# set up parameters

# required
last_n_games='0'
league_id='00'
month='0'
opponent_team_id='1610612744'
per_mode_simple='PerGame'
player_id='202695'
season='2018-19'
team_id='0'
season_type_all_star='Playoffs'

passes_received = playerdashptpass.PlayerDashPtPass(
    last_n_games=last_n_games,
    league_id=league_id,
    month=month,
    opponent_team_id=opponent_team_id,
    per_mode_simple=per_mode_simple,
    player_id=player_id,
    season=season,
    team_id=team_id,
    season_type_all_star=season_type_all_star
)

passes_received.get_data_frames()[1]

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,TEAM_NAME,TEAM_ID,TEAM_ABBREVIATION,PASS_TYPE,G,PASS_FROM,PASS_TEAMMATE_PLAYER_ID,FREQUENCY,...,AST,FGM,FGA,FG_PCT,FG2M,FG2A,FG2_PCT,FG3M,FG3A,FG3_PCT
0,202695,"Leonard, Kawhi",Toronto Raptors,1610612761,TOR,received,6,"VanVleet, Fred",1627832,0.137,...,0.33,0.83,2.33,0.357,0.67,1.33,0.500,0.17,1.00,0.167
1,202695,"Leonard, Kawhi",Toronto Raptors,1610612761,TOR,received,6,"Siakam, Pascal",1627783,0.173,...,1.33,2.67,3.67,0.727,1.67,2.50,0.667,1.00,1.17,0.857
2,202695,"Leonard, Kawhi",Toronto Raptors,1610612761,TOR,received,6,"McCaw, Patrick",1627775,0.010,...,0.00,0.00,0.00,NaN,0.00,0.00,NaN,0.00,0.00,NaN
3,202695,"Leonard, Kawhi",Toronto Raptors,1610612761,TOR,received,6,"Powell, Norman",1626181,0.029,...,0.00,0.00,0.33,0.000,0.00,0.17,0.000,0.00,0.17,0.000
4,202695,"Leonard, Kawhi",Toronto Raptors,1610612761,TOR,received,6,"Green, Danny",201980,0.065,...,0.00,0.33,1.67,0.200,0.33,1.33,0.250,0.00,0.33,0.000
5,202695,"Leonard, Kawhi",Toronto Raptors,1610612761,TOR,received,6,"Ibaka, Serge",201586,0.052,...,0.33,0.50,1.00,0.500,0.33,0.67,0.500,0.17,0.33,0.500
6,202695,"Leonard, Kawhi",Toronto Raptors,1610612761,TOR,received,6,"Gasol, Marc",201188,0.199,...,0.50,0.83,3.33,0.250,0.33,2.00,0.167,0.50,1.33,0.375
7,202695,"Leonard, Kawhi",Toronto Raptors,1610612761,TOR,received,6,"Lowry, Kyle",200768,0.336,...,0.67,1.67,6.33,0.263,1.50,4.50,0.333,0.17,1.83,0.091

# Ideas

1. Gantt chart of team founded date https://plot.ly/python/gantt/
2. Something about pass originat